@using Notepad.Models.DTOs
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Note Details";
}
@model BaseResponse<Notepad.Models.DTOs.Note.NoteDTO>

<h2>@Model.Data.Tittle</h2>

<div class="card p-3">
    <p>@Model.Data.Content</p>
</div>

<p>
    @* <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a> *@
    
        @* <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-info btn-sm">View</a> *@
        <a asp-action="Edit" asp-route-id="@Model.Data.Id" class="btn btn-warning btn-sm">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Data.Id" class="btn btn-danger btn-sm">Delete</a>
        <a asp-action="copy" asp-route-id="@Model.Data.Id" class="btn btn-secondary btn-sm">Copy</a>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Download
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-action="DownloadTxt" asp-route-id="@Model.Data.Id">Download as .txt</a></li>
                <li><a class="dropdown-item" asp-action="DownloadPdf" asp-route-id="@Model.Data.Id">Download as PDF</a></li>

            </ul>
        </div>
</p>
